// .drag
//   width 200px !important
//   background yellow




#theloader
  position fixed
  z-index 3000
  width 940px
  height 260px
  background url(../img/loader-gray-trans.gif) no-repeat center
  top 113px
  opacity 0.6

//.sprintclass
//    border dotted pink 3px

.sprintprint
    float right
    top 13px
    right 13px
    position absolute

.sprintclassoff
    opacity 0.3

.bin
    padding 0px
    margin 0px

.bin div.spacer
    height 82px
    width 0px
    float left

.table tbody > tr > td, .table tfoot > tr > td
    padding 5px
    margin 0px

.over
    background red

.mainmenu
    padding 13px 13px 13px 13px

.storyeditbuttons
    margin-top 3px
    padding-right 3px






.popover.right .arrow
    top 12%
    margin-top 0px

.popover.right
    margin-left 10px
    margin-top 18px

.poping
    color #fff
    float right
    margin-top 0px
    margin-right 2px
    font-size 18px
    i
        opacity 0.2


.done
    // background #e67e22
    background #8e44ad
.weekly
    background #2ecc71
.in-progress
    background #f1c40f
.qa
    background #e74c3c
.backlog, .new
    background #27ae60

.feedback
    background #f1c40f
    border solid 13px #27ae60

.story, .astory, .astorysolved
    background #3498db
    &.done
        background #2980b9

.support
    background #CBA162

.refused
    background #ecf0f1

.different
    background #95a5a6



#storymap

    .table
        width auto

    h4
        color #333333
        margin-left 6px
        margin-right 16px
        line-height 21px
        margin-top 6px
        margin-bottom 6px

    .story
        min-width 223px
        max-width 223px

        cursor pointer
        width  100%

        div.innerstory
            padding 2px 4px 6px 8px


    .highlight
        background #bdc3c7

    .ticket, .task

        min-width 223px
        max-width 223px

        .blocked
            float right
            margin-top 0px
            margin-right 2px

        cursor pointer
        width: 98%;
        margin: 4px 4px 12px 3px;
        div
            padding 2px 4px 6px 8px

    .overallprogress
        padding 0px !important
        background rgba(75, 75, 75, 0.4)
        height 4px


    .storydetails
        font-size 12px
        width 88%

        .dl-horizontal dt
            width 58px
            font-weight normal
        .dl-horizontal dd
            margin-left 66px
            font-weight normal
        dl
            margin-bottom 0px


    #legend
        float right
        margin 13px 55px 0px 0px
        div
            float left
            font-size 12px
            padding 2px 0px 2px 6px
        .legend
            margin 0px 0px 0px 4px
            padding 2px 6px 2px 6px

    .sprintbuttons
        float right
        margin-right 55px





#board
    .ticket, .task
        margin  5px
        padding  7px
        width  46%
        float  left
        min-height  72px

    .f4 .ticket
        opacity  0.5

    .t-info
        margin  -7px -4px 0px 0px
        text-align  right
        color  white
        opacity  0.4
        font-size  13px

    .t-title
        font-weight  bold
        font-family  helvetica
        margin  -8px 0px 8px 0px
        font-size  13px
        line-height  16px

    .t-holder
        float  left
        margin  0px 8px 0px 0px
        font-size  11px

    .t-qa
        font-size  11px

    #item1
        background green

    #item2
        background blue

    #bin1
        background purple

    #bin2
        background yellow

    #bin3
        background #ddd

    #bin4
        background gray


footer
    margin 42px 13px 13px 13px
    border-top solid 1px #ddd
    font-family helvetica
    padding-top 8px
    text-align center
    font-size 12px
    color #aaa


