.tasktoprintmother
    width 840px
    margin auto

.tasktoprint
    position relative
    width 323px
    height 323px
    float left
    margin 15px
    padding 26px 24px
    font-size 18px
    border solid 1px #ddd

    h1
        font-size 22px !important
        margin-top 23px !important
        margin-bottom 2px !important

    small
        font-size 13px
        color #aaa !important
    // .project
    //     font-size 18px
    //     // font-weight bold
    .taskid
        float right
        span
            font-size 10px

    .assigned_to
        text-align right
        position absolute
        bottom 23px
        right 24px


// .page-break
//     display none


@media print

    .page-break
        display block
        page-break-before always

    @page
        size 210mm 297mm

    .remover
        display none
        
    .tasktoprint
        border solid 1px white !important

        width 80mm !important
        height 80mm !important

        h1
            font-size 22px !important
            margin-top 23px !important
            margin-bottom 2px !important

        small
            font-size 13px
            color #aaa !important
            i
                color #aaa !important
    html
        margin 0
        // border 1px solid red

    body
        margin 0
        // border 1px solid green

    a
        text-decoration none

    a[href]:after
        content none !important

    .btn.sprintprint
        display none

    footer
        display none

    .mainmenu
        display none
